.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.map {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    border: 3px solid grey;
    padding: 3px;
}
